* {
 margin: 0;
 padding: 0;
}
html {
 -webkit-text-size-adjust: 100%;
}
header,
section,
main,
nav,
footer,
article,
figure,
hgroup {
 display: block;
 width: 100%;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
h2 span {
    font-weight: normal;
    font-size: 0.7em;
}
.wrapper {
    width: 400px;
    box-sizing: border-box;
}
section {
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 10px;
}
/* Sex buttons */
.sex-btns {
    width: 400px;
    border: 1px solid #FF851B;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    
}
.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    flex-grow: 1;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
.active {
    background-color: #FF851B;
    color: white;
}

/* bio info */
section.bio {
    display: flex;
}
.result-info {
    border: 1px dashed slategray;
}
.result-info div {
    display: flex;
    justify-content: space-between;
}